<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi_1YVbkcWnrKjHj35ZFbpRjTm_ZU39J4</string>
	<key>GCM_SENDER_ID</key>
	<string>457199092717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voicetypestudio.app</string>
	<key>PROJECT_ID</key>
	<string>voice-typing-studio</string>
	<key>STORAGE_BUCKET</key>
	<string>voice-typing-studio.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457199092717:ios:1bf95a29ff98af21fcdde4</string>
</dict>
</plist>